<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>CSS Day Speakers</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/main.js" defer></script>
  </head>

  <body>
    <div class="blob"></div>
    <header>
      <div class="cta">
        <img src="star.svg" />
        <h1>Scroll through 10 years of CSSDay</h1>
        <img src="star.svg" />
      </div>
      <div>
        <h2>CSS Day</h2>
        <p>
          Welcome to CSS Day, where the evolution of CSS is not just a
          journey but a celebration of a decade of remarkable
          advancements. For a decade now, we have been the cornerstone
          of the CSS community, bringing together designers,
          developers, spec writers, and browser vendors in a dynamic
          exchange of ideas and expertise. With an informal ambiance
          and ample opportunities for networking, CSS Day has been the
          stage for geeky discussions and groundbreaking insights.
          <p> As
          we mark our illustrious 10th anniversary edition on June 6 &
          7, 2024, join us in commemorating a decade of pushing the
          boundaries of CSS and shaping its future.
          </p>
        </p>
      </div>
      <div class="scroll">
      <div><img class="stickers" src="sticker1.png"><img class="CCSDay_img" src="shot1.jpg"><span>community</span></div>
      <div><img class="stickers" src="sticker2.png"><img class="CCSDay_img" src="lunch1.jpg"><span>Exciting</span></div>
      <div><img class="stickers" src="sticker3.png"><img class="CCSDay_img" src="speaker1.jpg"><span>Inspirational</span></div>
    </div>
    </header>

    <main>
      <h2>Meet the speakers</h2>
      <% Object.keys(data).forEach(year => { %> <% const yearData =
      data[year]; %>
      <h3><%= yearData.title %></h3>

      <p>Number of Attendees: <%= yearData.attendees.count %></p>
      <div class="wrapper">
      <% yearData.speakers.forEach(speaker => { %>
        <div class="speakers <%= yearData.title.replace(/\s+/g, '') %>">
        <img
          src="<%= speaker.avatar %>"
          alt="<%= speaker.name %>"
          loading="lazy"
        />
        <div class="about">
        <h2><%= speaker.name %></h2>
      </div>
      </div>
      <% }); %> <% }); %>
    </div>
    </main>

    <footer></footer>
  </body>
</html>
