<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>CSS Day Speakers</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/main.js" defer></script>
  </head>

  <body>
    <div class="blob"></div>
    <div class="cta">
      <img class="sticker3" src="sticker3.png" aria-hidden="true">
      <h1>Scroll through 10 years of CSSDay</h1>
      <img class="sticker1" src="sticker1.png" aria-hidden="true">
    </div>
    <header>
      <div>
        <h2>CSS Day</h2>
        <p>
          Welcome to CSS Day, where the evolution of CSS is not just a
          journey but a celebration of a decade of remarkable
          advancements. For a decade now, we have been the cornerstone
          of the CSS community, bringing together designers,
          developers, spec writers, and browser vendors in a dynamic
          exchange of ideas and expertise. With an informal ambiance
          and ample opportunities for networking, CSS Day has been the
          stage for geeky discussions and groundbreaking insights.
          <p> As
          we mark our illustrious 10th anniversary edition on June 6 &
          7, 2024, join us in commemorating a decade of pushing the
          boundaries of CSS and shaping its future.
          </p>
        </p>
      </div>
    </header>

    <main>
      <section class="theyears">
        <p class="intro">
          Over the years, CCSDay has been an absolute treasure trove of talks ranging from mastering 
          flexbox to getting creative with scroll animation using view(). 
          It's like a feast for the CSS aficionado's soul!
      </p>

      <p class="intro">
        During CCSDay, you're not just attending talks; you're diving headfirst into a vibrant community of CSS enthusiasts
      </p>

      <div class="searchbar">
      <input type="text" id="searchInput" placeholder="Search by speaker name">
      <span>if your lazy</span>
      <img class="sticker2" src="sticker2.png" aria-hidden="true">
      </div>

      <% Object.keys(data).forEach(year => { %> <% const yearData =
        data[year]; %>
        <div class="year">
          <h2>Meet the speakers of <%= yearData.title %></h2>
          <div class="wrapper">
          <% yearData.talks.forEach(talk => { %>
            <div class="talk">
              <h3><%= talk.title %></h3>
              <img src="<%= talk.speaker[0].avatar%>" alt="<%= talk.speaker[0].name %>">
              <div class="about">
            <h4><%= talk.speaker[0].name %></h4>
            <span> from <%= talk.speaker[0].country %> </span>
            <p> <% if (talk.description) { %>
              <%= talk.description %>
           <% } %></p>
          </div>
        </div>
            <% }); %>
          </div>
        </div>
        <% }); %>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
